<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.HorarioMapper">

    <select parameterType="map" id="consultarHorarios" resultMap="HorarioResult">
        SELECT
        h.idhorario,
        h.idusuario,
        h.idrecurso,
        h.fecha,
        h.horainicial,
        h.horafinal,
        h.estado,
        h.recurrencia,
        h.fecharecurrencia

        FROM "ECIStuff".horarios as h;
    </select>

    <resultMap type='Horario' id='HorarioResult'>
        <id property='idhorario' column='idhorario'/>
        <result property='idusuario' column='idusuario'/>
        <result property='idrecurso' column='idrecurso'/>
        <result property='fecha' column='fecha'/>
        <result property='horainicial' column='horainicial'/>
        <result property='horafinal' column='horafinal'/>
        <result property='estado' column='estado'/>
        <result property='recurrencia' column='recurrencia'/>
        <result property='fecharecurrencia' column='fecharecurrencia'/>
    </resultMap>
</mapper>