<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ResourceMapper">

    <resultMap id="consultarRecursos" type="Resource">
        <id property="id" column="id" />
        <result property="nombre" column="nombre"/>
        <result property="ubicacion" column="ubicacion"/>
        <result property="disponible" column="disponible"/>
        <result property="tipo" column="tipo"/>
    </resultMap>

    <select id="consultResources" resultMap="consultarRecursos">
        SELECT
        id,
        nombre,
        ubicacion,
        disponible,
        tipo
        FROM "ECIStuff".recursos;
    </select>

    <insert id="registerResources" parameterType="map">
        INSERT INTO ECIStuff
        VALUES (#{resource.id},#{resource.nombre},#{resource.ubicacion},#{resource.disponible},#{resource.tipo},#{resource.descripcion})
    </insert>
</mapper>