<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ResourceMapper">

    <resultMap id="ResourceResult" type="Resource">
        <id property="id" column="id" />
        <result property="nombre" column="nombre"/>
        <result property="ubicacion" column="ubicacion"/>
        <result property="tipo" column="tipo"/>
        <result property="capacidad" column="descripcion"/>
        <result property="iDisp" column="iniciodisponibilidad"/>
        <result property="fDisp" column="findisponibilidad"/>
    </resultMap>

    <insert id="registerResource" parameterType="map">
        INSERT INTO "ECIStuff".recursos (nombre, ubicacion, tipo, descripcion, iniciodisponibilidad, findisponibilidad )
        VALUES (#{r.nombre},#{r.ubicacion},#{r.tipo},#{r.capacidad},#{r.iDisp},#{r.fDisp});
    </insert>


    <select id="consultResources" resultMap="ResourceResult">
        SELECT
            id,
            nombre,
            ubicacion,
            tipo,
            descripcion,
            iniciodisponibilidad,
            findisponibilidad
        FROM "ECIStuff".recursos;
    </select>
</mapper>