<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.UserMapper">

    <insert id="createUser">
        insert into "ECIStuff".user_eci (id, name, role) values (00005, 'Usuario7','Comunidad')
    </insert>
    <select id="getUserIdByEmail" resultMap="UserResult" parameterType="map">
        SELECT
            id
        FROM "ECIStuff".usuarios WHERE email = #{email}
    </select>
    <select id="getUserById" resultMap="UserResult" parameterType="map">
        SELECT
            id,
            nombre,
            email,
            role
        FROM "ECIStuff".usuarios WHERE id = #{id}
    </select>
    <resultMap id="UserResult" type="User">
        <id property="id" column="id"/>
    </resultMap>
</mapper>