@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-image: url("https://i.ibb.co/hZqbkGM/Presentaci-n1-page-0001.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
}

.container {
    color: #FFFFFF;
    padding: 25px;
    position: fixed;
}

.card {
        padding: 10px 10px 10px 10px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.abs-center {
  position: absolute;
  top: 500%;
  left: 60%;
  margin-top: -100px;
  margin-left: -100px;
}

.form {
  width: 450px;
}
