.navbar{
    background-color: #990000;
}
.navbar-default .navbar-nav > li > a{
    color: #FFFFFF;
    font-size: larger;
}

ul{
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
}
