html, body{
    margin: 0px;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.sidebar{
    display: flex;
    flex-direction: column;

    background-color: #c1171a;
    color: white;

    width: 25%;
}

.sidebar span{
    align-self: center;
    font-size: 3.5rem;
}

.bookings{
    display: flex;
    flex-direction: column;
    background-color: #413939;
    color: white;

    width: 71%;
    padding-left: 2%;
    padding-right: 2%;
}

.titulo{
    align-self: center;
}

td{
    background-color: #413939;
}

.form-control{
    background-color: #413939;
    color: white;
}
.consultContainer {
    height: 100%;
    width: 100%;
    background-color:#a1a3a6;
    background-position: center;
    background-size: cover;
}