html, body{
    margin: 0px;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;

    background-color: #c1171a;
    color: white;
    
    width: 25%;
}

.sidebar span{
    align-self: center;
    font-size: 3.5rem;
}

.register{
    display: flex;
    flex-direction: column;
    background-color: #413939;
    color: white;

    padding-left: 2%;
    padding-right: 2%;
    width: 71%;
}

.titulo{
    align-self: center;
}

input{
    background-color: transparent;
    color: white;

    border: 0px;
    border-bottom: 1px solid #635959;
    
    margin-top: 10px;

    font: inherit;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#iCapa{
    width: 25%;
}

select{
    background-color: #635959;
    color: white; 

    width: 25%;

    margin: 0;
    border-radius: 4px;
    padding: 0.5rem 3.5rem 0.5rem 1rem;
    line-height: 1.5em;
    
    font: inherit;
          
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}